span {
    color:var(--cor-principal);
}
.title{
    margin: 5rem 0;
    text-align: center;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: larger;
}


.container{
    display: flex;
    justify-content: center;
    margin: 6rem 0;
}

.pokemon{
    margin: 2rem;
    height: 240px;
    border: 2px solid var(--cor-principal);
    border-radius: 30%;
}

.pokemon{
    position: relative;
    top:0;
    transition: 0.5s;
}

#voltar, #result{
    display: inline-block;
    text-decoration: none;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: larger;
    border:none;
    border-radius: 50px;
    transition: 0.5s;
    padding: 15px;
    color: #fff;
    cursor: pointer;
    background-color:var(--cor-principal);
    margin: 0px 30px;
}

#voltar:hover{
    background-color: var(--cor-principal-hover);
}

#btn{
    display: flex;
    justify-content: center;
}